.lds-roller(ng-hide='!$ctrl.isVisible')
  .lds-roller__container
    .lds-roller__item
    .lds-roller__item
    .lds-roller__item
    .lds-roller__item
    .lds-roller__item
    .lds-roller__item
    .lds-roller__item
    .lds-roller__item
