.row.stf-info.selectable(ng-controller='InfoCtrl',
  angular-packery='{draggable: true, draggableHandle: ".heading i"}')

  .col-md-4-x.packery-item
    .widget-container.fluid-height
      .heading
        stacked-icon(icon='fa-location-arrow', color='color-pink')
        span(translate) Physical Device
        .pull-right
          button(ng-click='device.ios ? press("finder") : finder()', ng-disabled='device.platform === "tvOS"').btn.btn-xs.btn-primary-outline
            i.fa.fa-info
            span(translate) Find Device

      .widget-content.padded-small
        div.infocard-table
          div.infocard-table__row
            div.infocard-table__item(translate) Place
            div.infocard-table__item {{device.provider.name}}
          div.infocard-table__row(ng-show='device.name && device.image')
            div.infocard-table__item
            div.infocard-table__item
              button(ng-click='openDevicePhoto(device)').btn.btn-xs.btn-primary-outline
                i.fa.fa-picture-o
                span(translate) Device Photo

  .col-md-4-x.packery-item
    .widget-container.fluid-height
      .heading
        stacked-icon(icon='fa-bolt', color='color-yellow')
        span(translate) Battery
      .widget-content.padded-small
        div.infocard-table
          div.infocard-table__row
            div.infocard-table__item(translate) Health
            div.infocard-table__item {{device.battery.health | batteryHealth | translate}}
          div.infocard-table__row
            div.infocard-table__item(translate) Power Source
            div.infocard-table__item {{device.battery.source | batterySource | translate}}
          div.infocard-table__row
            div.infocard-table__item(translate) Status
            div.infocard-table__item {{device.battery.status | batteryStatus | translate}}
          div.infocard-table__row
            div.infocard-table__item(translate) Level
            div.infocard-table__item
              uib-progressbar(value='device.battery.level || 0', animate='false', max='device.battery.scale', type='success')
                span {{ device.battery.level ? (device.battery.level / device.battery.scale * 100) : '-' }}%
          div.infocard-table__row
            div.infocard-table__item(translate) Temperature
            div.infocard-table__item {{device.battery.temp}} °C
          div.infocard-table__row
            div.infocard-table__item(translate) Voltage
            div.infocard-table__item {{device.battery.voltage}} v

  .col-md-4-x.packery-item
    .widget-container.fluid-height
      .heading
        stacked-icon(icon='fa-tablet', color='color-blue')
        span(translate) Display
      .widget-content.padded-small
        div.infocard-table
          div.infocard-table__row
            div.infocard-table__item(translate) Size
            div.infocard-table__item {{device.display.inches ? device.display.inches + '″' : '-'}}
          div.infocard-table__row
            div.infocard-table__item(translate) Density
            div.infocard-table__item {{device.display.density | displayDensity}}
          div.infocard-table__row
            div.infocard-table__item(translate) FPS
            div.infocard-table__item {{device.display.fps}}
          div.infocard-table__row
            div.infocard-table__item(translate) Width
            div.infocard-table__item {{device.display.width}} px
          div.infocard-table__row
            div.infocard-table__item(translate) Height
            div.infocard-table__item {{device.display.height}} px
          div.infocard-table__row
            div.infocard-table__item(translate) ID
            div.infocard-table__item {{device.display.id}}
          div.infocard-table__row
            div.infocard-table__item(translate) Orientation
            div.infocard-table__item {{device.display.rotation}}°
          div.infocard-table__row
            div.infocard-table__item(translate) Encrypted
            div.infocard-table__item {{device.display.secure | humanizedBool}}
          div.infocard-table__row
            div.infocard-table__item(translate) X DPI
            div.infocard-table__item {{device.display.xdpi}}
          div.infocard-table__row
            div.infocard-table__item(translate) Y DPI
            div.infocard-table__item {{device.display.ydpi}}

  .col-md-4-x.packery-item
    .widget-container.fluid-height
      .heading
        stacked-icon(icon='fa-signal', color='color-brown')
        span(translate) Network
      .widget-content.padded-small
        div.infocard-table
          div.infocard-table__row
            div.infocard-table__item(translate) Connected
            div.infocard-table__item {{device.network.connected | humanizedBool}}
          div.infocard-table__row
            div.infocard-table__item(translate) Airplane Mode
            div.infocard-table__item {{device.airplaneMode | humanizedBool}}
          div.infocard-table__row
            div.infocard-table__item(translate) Using Fallback
            div.infocard-table__item {{device.network.failover | humanizedBool}}
          div.infocard-table__row
            div.infocard-table__item(translate) Roaming
            div.infocard-table__item {{device.network.roaming | humanizedBool}}
          div.infocard-table__row
            div.infocard-table__item(translate) Type
            div.infocard-table__item {{device.network.type | networkType | translate}}
          div.infocard-table__row
            div.infocard-table__item(translate) Sub Type
            div.infocard-table__item {{device.network.subtype | networkSubType | translate}}

  .col-md-4-x.packery-item
    .widget-container.fluid-height
      .heading
        stacked-icon(icon='fa-credit-card', color='color-lila')
        span(translate) SIM
      .widget-content.padded-small
        div.infocard-table
          div.infocard-table__row
            div.infocard-table__item(translate) Carrier
            div.infocard-table__item {{device.operator}}
          div.infocard-table__row
            div.infocard-table__item(translate) Network
            div.infocard-table__item {{device.phone.network}}
          div.infocard-table__row
            div.infocard-table__item(translate) Number
            div.infocard-table__item {{device.phone.phoneNumber}}
          div.infocard-table__row
            div.infocard-table__item(translate) IMEI
            div.infocard-table__item {{device.phone.imei}}
          div.infocard-table__row
            div.infocard-table__item(translate) IMSI
            div.infocard-table__item {{device.phone.imsi}}
          div.infocard-table__row
            div.infocard-table__item(translate) ICCID
            div.infocard-table__item
              small {{device.phone.iccid}}

  .col-md-4-x.packery-item
    .widget-container.fluid-height
      .heading
        stacked-icon(icon='fa-phone', color='color-green')
        span(translate) Hardware
      .widget-content.padded-small
        div.infocard-table
          div.infocard-table__row
            div.infocard-table__item(translate) Manufacturer
            div.infocard-table__item {{device.manufacturer}}
          div.infocard-table__row
            div.infocard-table__item(translate) Product
            div.infocard-table__item {{device.name ? device.name : '-'}}
          div.infocard-table__row
            div.infocard-table__item(translate) Model
            div.infocard-table__item {{device.model}}
          div.infocard-table__row
            div.infocard-table__item(translate) Serial
            div.infocard-table__item {{device.serial}}
          div.infocard-table__row
            div.infocard-table__item(translate) Released
            div.infocard-table__item {{device.releasedAt ? (device.releasedAt | date:longDate) : '-'}}

  .col-md-4-x.packery-item
    .widget-container.fluid-height
      .heading
        stacked-icon(icon='fa-mobile', color='color-skyblue')
        span(translate) Platform
      .widget-content.padded-small
        div.infocard-table
          div.infocard-table__row
            div.infocard-table__item(translate) OS
            div.infocard-table__item {{device.platform}}
          div.infocard-table__row
            div.infocard-table__item(translate) Version
            div.infocard-table__item {{device.version}}
          div.infocard-table__row
            div.infocard-table__item(translate) SDK
            div.infocard-table__item {{device.sdk}}
          div.infocard-table__row
            div.infocard-table__item(translate) ABI
            div.infocard-table__item {{device.abi}}

  .col-md-4-x.packery-item
    .widget-container.fluid-height
      .heading
        stacked-icon(icon='fa-slack', color='color-black')
        span(translate) CPU
      .widget-content.padded-small
        div.infocard-table
          div.infocard-table__row
            div.infocard-table__item(translate) Name
            div.infocard-table__item {{device.cpu.name ? device.cpu.name : '-'}}
          div.infocard-table__row
            div.infocard-table__item(translate) Cores
            div.infocard-table__item {{device.cpu.cores ? device.cpu.cores : '-'}}
          div.infocard-table__row
            div.infocard-table__item(translate) Frequency
            div.infocard-table__item {{device.cpu.freq ? device.cpu.freq + ' GHz' : '-'}}

  .col-md-4-x.packery-item
    .widget-container.fluid-height
      .heading
        stacked-icon(icon='fa-database', color='color-orange')
        span(translate) Memory
      .widget-content.padded-small
        div.infocard-table
          div.infocard-table__row
            div.infocard-table__item(translate) RAM
            div.infocard-table__item {{device.memory.ram ? device.memory.ram + ' MB' : '-'}}
          div.infocard-table__row
            div.infocard-table__item(translate) ROM
            div.infocard-table__item {{device.memory.rom ? device.memory.rom + ' MB' : '-'}}
          div.infocard-table__row
            div.infocard-table__item(translate) SD Card Mounted
            div.infocard-table__item {{ sdCardMounted | humanizedBool }}
