.stf-info .infocard-table {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-areas: "infocardTitle infocardValue";
  grid-template-columns: fit-content(35%) minmax(0, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.stf-info .infocard-table__row {
  display: contents;
  pointer-events: auto;
}

.stf-info .infocard-table__row:hover .infocard-table__item {
  background-color: #f5f5f5;
}

.stf-info .infocard-table__item {
  padding: 4px;
  justify-self: stretch;
}

.stf-info .infocard-table__item:nth-child(odd) {
  font-weight: bold;
  text-align: right;
}

.stf-info .infocard-table__item:nth-child(even) {
  overflow-wrap: break-word;
}

.stf-info .infocard-table__item span {
  white-space: normal;
}

.stf-info .progress {
  margin-bottom: 0;
  height: 20px;
  position: relative;
}

.stf-info .progress span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
  color: #333;
}
