#tree {
  overflow: scroll;
}
#tree ul {
  list-style: none;
  padding-left: 15px;
  margin-bottom: 0;
}

#tree h4 {
  margin-bottom: 0;
}

.show-child-elements {
  display: block;
}

.hide-child-elements {
  display: none!important;
}

.node-info-container {
  position: relative;
}

.btn-dropdown {
  margin: 8px;
}
